
$primary-color: #18151D;
$secondary-color: #24202A;
$secondary-color-1: #7d30f5;
$secondary-color-2: #24202A;
$secondary-color-3: #2C64BC;
$secondary-color-4: #24202A;
$secondary-color-5: #0ef25e;
$secondary-color-6: #2c82c9;
$primary-text-color: #C8C8C9;

$border-radius: 8px;