@import "~bootstrap/scss/bootstrap";

// variables

$primary-color: #18151D;
$secondary-color: #24202A;
$secondary-color-1: #7D30F5;
$secondary-color-2: #24202A;
$secondary-color-3: #2C64BC;
$secondary-color-4: #24202A;
$primary-text-color: #24202A;